<div>
  <h2>Friend Details</h2>

  <p>{{model.firstName}}</p>
  <p>{{model.lastName}}</p>
</div>

<form {{action "save" on=submit}}>
  <h2>{{errorMessage}}</h2>

  <div>
    <label>
      First Name:
      {{input value=model.firstName}}
    </label>
  </div>

  <div>
    <label>
      Last Name:
      {{input value=model.lastName}}
    </label>
  </div>

  <div>
    <label>
      Email:
      {{input value=model.email}}
    </label>
  </div>

  <div>
    <label>
      Twitter:
      {{input value=model.twitter}}
    </label>
  </div>

  <input {{action "save"}} type="submit" value="Save">
  <button {{action "cancel"}}>Cancel</button>
</form>
